p{
    background-color: rgb(65, 255, 106);
    color: rgb(14, 14, 14);
}

h2{
    background-color: rgb(255, 6, 6);
    color: rgb(255, 255, 255);
}

h1{
    background-color: rgb(255, 0, 85);
    color: black;
}

body{
    text-align: left;
}