body{
    background-color: aqua;
}

.divi1{
    border: 2px solid black;
    font-size: 20px;
    width: 18%;
    padding: 22px;
    position: relative;
    top: 200px;
    left: 500px;
    background-color: white;
}