.klasa-par {
    background-color: blueviolet;
    color: white;
    padding: 10px;
    border-radius: 5%;
}

.klasa-dyt {
    background-color: brown;
    color: aquamarine;
    padding: 12px;
    border-radius: 5%;
}

.klasa-tret {
    background-color: rgb(133, 156, 0);
    color: azure;
    padding: 14px;
    border-radius: 5%;
}

.klasa-katert {
    background-color: green;
    color: antiquewhite;
    padding: 16px;
    border-radius: 5%;
}

.klasa-pest {
    background-color: rgb(17, 0, 255);
    color: rgb(255, 255, 255);
    padding: 18px;
    border-radius: 5%;
}